@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Rubik';
    box-sizing: border-box;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}


.container .nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.container .nav .navLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .nav .navLeft h2{
    margin-left: 20px;
    color: #fff;
    margin-bottom: 0;
}

.container .nav .navLeft img{
    width: 40px;
}

.container .nav .navRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .nav .navRight a{
    margin-left: 10px;
    padding: 20px;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    transition: 0.4s;
}

.container .nav .navRight a:hover{
    transition: 0.4s;
    color: #c1c1c1;
}

header  {
    height: 500px;
    background-image: url('https://media.istockphoto.com/photos/modern-hospital-building-picture-id1312706413');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.linkSociac{
    display: flex;
    align-items: center;
}

.linkSociac a{
    padding: 8px;
}

.linkSociac a svg{
    width: 30px;
}

.linkSociac a:hover svg path{
    fill: #c1c1c1;
}

.headerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.headerTitle h1{
    color: #fff;
    max-width: 800px;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 45px;
}

.headerTitle p{
    color: #fff;
    max-width: 800px;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 24px;
    padding-top: 20px;
}

.miniContainer{
    width: 80%;
    margin: 0 auto;
}


.aboutUs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 0;
}

.aboutUs > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutUs > div h1{
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
    letter-spacing: 0.2rem;
}

.aboutUs > div p{
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 25px;
}

.aboutUs > div img{
    width: 300px;
    height: 300px;
}

.whyWe{
    padding: 70px 0;
    
}

.whyWe > h1{
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
    letter-spacing: 0.2rem;
}

.whyWe > p{
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 25px;
    width: 700px;
    margin: 0 auto;
}

.whyWeBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.whyWeBlock .box{
    width: 90%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.whyWeBlock .box p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1rem;
}

.whyWeBlock .box h1{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-bottom: 10px;
}

.contact{
    padding: 80px 0;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 3fr 5fr;
}

.contactLeft{
    box-shadow: 0 3px 10px #00000050;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactLeft h1{
    font-size: 20px;
    padding-bottom: 25px;
    letter-spacing: 0.1rem;
}

.contactLeft input, .contactLeft textarea{
    width: 100%;
    margin-bottom: 25px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}